body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f44a4a;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="tel"],
input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #f44a4a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button {
    font-size: 20px;
    color: #fff;
    background-color: red;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color:red;
}
.recharge-packs {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
        justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pack {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.pack-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.pack-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.pack-validity {
    font-size: 14px;
    color: #999;
}