 /* Style the payment form */
 #payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
        font-size: 20px;
        color: #fff;
        background-color: red;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    button:hover {
        background-color:red;
    }
  /* Style the form fields */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Style the success message */
  #success {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
  }

  /* Style the error messages */
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }